{% extends "pdfext/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Elit ut aliquam purus sit amet luctus venenatis. Eget duis at tellus at urna condimentum mattis pellentesque. Viverra adipiscing at in tellus integer feugiat. Iaculis at erat pellentesque adipiscing. Morbi enim nunc faucibus a pellentesque sit amet. A scelerisque purus semper eget duis at. A pellentesque sit amet porttitor. Nec feugiat in fermentum posuere urna. Volutpat ac tincidunt vitae semper quis lectus nulla. Faucibus interdum posuere lorem ipsum. Eu consequat ac felis donec et odio pellentesque diam volutpat. Elit eget gravida cum sociis natoque penatibus et magnis dis. Volutpat consequat mauris nunc congue. Placerat vestibulum lectus mauris ultrices eros in cursus turpis. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum fusce. Senectus et netus et malesuada fames ac turpis egestas. Sed velit dignissim sodales ut eu sem integer vitae. Egestas egestas fringilla phasellus faucibus scelerisque.</p>


{% endblock content %}
